
/* Variables */

$color-one: #ffffff;
$color-two: #000000;
$color-three: #EFC43C;
$color-four: #808080;

$font-logo: 'Pacifico', cursive , sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

body {
    background: $color-one;
    font-size: 16px;
    font-family: $font-text;
}

.container {
    text-align: center;
}

.section-title h3 {
    text-transform: uppercase;
    font-size: 62px;
    line-height: 0.2;
}

.section-title h4 {
    font-style: italic;
    font-size: 24px;
    color: $color-four;
}

p {
    color: $color-four;
}

/* Header */

header {
	text-align: center;	
	background: url('https://cdn.pixabay.com/photo/2015/12/04/14/49/hand-1076597_960_720.jpg') 0/cover;
	background-position: center center;
    height: 100vh;
	object-fit: cover;
	color: $color-two;
    overflow: hidden;
}

.company-name h3 {
    font-family: $font-logo;
    font-size: 32px;
    font-weight: 200;
    font-style: italic;
    color: $color-three;
}

.nav ul {
    list-style-type: none;
}

.nav li {
    display: inline-block;
}

.nav a {
    text-decoration: none;
    color: $color-one;
    font-weight: bold;
    font-size: 30px;
}

.nav a:hover {
    border-bottom: 3px solid $color-one;
}

header .title {
    margin: auto;  
    color: $color-one;
}

.title-space {
    display: flex;
    height: 90%;
    line-height: 0.5;
}

.title h2 {
    font-size: 55px;
    font-style: italic;
}

.title h1 {
    font-size: 100px;
    font-weight: 800;
}

.title .btn {
    display: inline-block;
    min-width: 240px;
    border-radius: 5px;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    text-decoration: none;
    color: $color-one;
    cursor: pointer;
    border-width: 2px;
    border-style: none;
    background: $color-three;
    transition: all 1s;
    text-shadow: 1px 1px 5px black;
}

.title .btn:hover {
    background: $color-three;
    opacity: 0.7;
}

/* Services */

.services i {
    font-size: 40px;
    color: $color-three;
    border: 3px solid $color-three;
    border-radius: 50%;
}

/* Portfolio */

.portfolio {
    background: #D3D3D3;
}

.portfolio .box-image {
    width: auto;
    height: 200px;
}

.portfolio img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.portfolio .box-text {
    background: $color-one;
}

.portfolio .box {
    background: $color-one;
}

/* Footer */

footer ul {
    text-align: center;
}

footer li {
    display: inline;
    font-size: 0;
}

i.fab {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    background: $color-three;
    border-radius: 50%;
    color: $color-one;
    transition: all 1s;
}

i.fab:hover {
    transform: scale(1.25); 
}

footer p {
    text-align: center;
}